<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Tree of Life | Christian Bookshop &amp; Caf&eacute;. 18 Slater Street, L1 4BS.</title>
<link rel='stylesheet' id='twentytwelve-fonts-css'  href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&#038;subset=latin,latin-ext' type='text/css' media='all' />
<link rel='stylesheet' id='twentytwelve-style-css'  href='/2012.css' />
<link rel="canonical" href="https://treeoflife.org.uk/" />
<link rel='shortlink' href='https://treeoflife.org.uk/' />

</head>

<body class="home page-template-default page page-id-13 custom-font-enabled">
<div id="page" class="hfeed site">
	<header id="masthead" class="site-header" role="banner">
		<hgroup>
			<h1 class="site-title"><a href="/" title="Tree of Life" rel="home">Tree of Life</a></h1>
			<h2 class="site-description">Christian Bookshop &amp; Caf&eacute;. 18 Slater Street, L1 4BS.</h2>
		</hgroup>

		<nav id="site-navigation" class="main-navigation" role="navigation">
			<button class="menu-toggle">Menu</button>
			<a class="assistive-text" href="#content" title="Skip to content">Skip to content</a>
			<div class="menu-default-container">
				<ul id="menu-default" class="nav-menu">
					<li class="menu-item menu-item-type-post_type menu-item-object-pagem"><a href="/">About Us</a></li>
	
					<li class="menu-item menu-item-type-post_type menu-item-object-pagem"><a href="/pages/menu/">Café Menu</a></li>
				
					<li class="menu-item menu-item-type-post_type menu-item-object-pagem"><a href="/pages/bookshop/">Bookshop</a></li>
				
					<li class="menu-item menu-item-type-post_type menu-item-object-pagem"><a href="/pages/ministries/">Ministries</a></li>
				
					<li class="menu-item menu-item-type-post_type menu-item-object-pagem"><a href="/pages/volunteer/">Volunteer</a></li>

<!--				{% for nav in collections.pages %}
					<li class="menu-item menu-item-type-post_type menu-item-object-pagem"><a href="{{ nav.url | url }}">{{ nav.data.pageTitle }}</a></li>
				{% endfor %} -->

				</ul></div>		
		</nav><!-- #site-navigation -->

			</header><!-- #masthead -->

	<div id="main" class="wrapper">

	<div id="primary" class="site-content">
		<div id="content" role="main">

							
	<article id="post-13" class="post-13 page type-page status-publish hentry">
		<header class="entry-header">
												<h1 class="entry-title">{{ pageTitle }}</h1>
		</header>

		<div class="entry-content">
		
			{{ content }}
		
		</div><!-- .entry-content -->
		<footer class="entry-meta">
					</footer><!-- .entry-meta -->
	</article><!-- #post -->
				
			
		</div><!-- #content -->
	</div><!-- #primary -->


			<div id="secondary" class="widget-area" role="complementary">
			<aside id="custom_html-2" class="widget_text widget widget_custom_html"><div class="textwidget custom-html-widget"><img src="/media/Tree-of-Life-Yellow-300x281.jpg" /><strong>Tree of Life</strong> is a Christian Bookshop &amp; Café in the centre of Liverpool. 
<br>Find us on <a href="https://www.google.co.uk/maps/place/18+Slater+St,+Liverpool/">18 Slater Street, L1 4BS</a>.
<br>Phone: 0151-708-9550
<br><br>
Opening Hours:<br>
Tuesday-Saturday: 9.30am-5pm</div></aside>		</div><!-- #secondary -->
		</div><!-- #main .wrapper -->
	<footer id="colophon" role="contentinfo">
		<div class="site-info">
				Tree of Life is the trading name of Charitable Institution House, a <a href="http://apps.charitycommission.gov.uk/Showcharity/RegisterOfCharities/CharityWithoutPartB.aspx?RegisteredCharityNumber=232909&SubsidiaryNumber=0">registered charity #232909</a>. We were formerly known as Gladstones. You can view our privacy policy <a href="/media/Tree-of-Life-Privacy-Notice.pdf">here</a>.
		</div><!-- .site-info -->
	</footer><!-- #colophon -->
	<script>
console.log('connected!')

/** this is the code for the book searching**/
function search(field){
	let input = document.getElementById(field).value
	document.getElementById(field).value = ""
	let url = 'https://treeoflife.pythonanywhere.com/search/'+field+'/'+input
	console.log(url)
	fetch(url)
	   .then(function(response) {
    return response.json();
  })
  .then(function(myJson) {
	  
    document.getElementById('searchResults').innerHTML = "<p><strong>We found " + myJson.data.length + " results where the " + field + " field includes '" + input + "'.</strong></p>"
    
    foundBooks = myJson.data
    
    for (i=0; i < myJson.data.length; i++) {
		document.getElementById('searchResults').innerHTML += "<p>" + myJson.data[i][1].slice(0,30) + "..., " + myJson.data[i][2] + ", " + myJson.data[i][3] + ", £" + myJson.data[i][6] + "<br> " + myJson.data[i][7] + ", "+  myJson.data[i][8] + "</p>"
	}

    return 
  });

}

/**
 * Handles toggling the navigation menu for small screens and
 * accessibility for submenu items.
 */
( function() {
	var nav = document.getElementById( 'site-navigation' ), button, menu;
	if ( ! nav ) {
		return;
	}

	button = nav.getElementsByTagName( 'button' )[0];
	menu   = nav.getElementsByTagName( 'ul' )[0];
	if ( ! button ) {
		return;
	}

	// Hide button if menu is missing or empty.
	if ( ! menu || ! menu.childNodes.length ) {
		button.style.display = 'none';
		return;
	}

	button.onclick = function() {
		if ( -1 === menu.className.indexOf( 'nav-menu' ) ) {
			menu.className = 'nav-menu';
		}

		if ( -1 !== button.className.indexOf( 'toggled-on' ) ) {
			button.className = button.className.replace( ' toggled-on', '' );
			menu.className = menu.className.replace( ' toggled-on', '' );
		} else {
			button.className += ' toggled-on';
			menu.className += ' toggled-on';
		}
	};
} )();

// Better focus for hidden submenu items for accessibility.
( function( $ ) {
	$( '.main-navigation' ).find( 'a' ).on( 'focus.twentytwelve blur.twentytwelve', function() {
		$( this ).parents( '.menu-item, .page_item' ).toggleClass( 'focus' );
	} );

  if ( 'ontouchstart' in window ) {
    $('body').on( 'touchstart.twentytwelve',  '.menu-item-has-children > a, .page_item_has_children > a', function( e ) {
      var el = $( this ).parent( 'li' );

      if ( ! el.hasClass( 'focus' ) ) {
        e.preventDefault();
        el.toggleClass( 'focus' );
        el.siblings( '.focus').removeClass( 'focus' );
      }
    } );
  }
} )( jQuery );

	</script>
</div><!-- #page -->

</body>
</html>
